{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="custom-calendar-wrap custom-calendar-full">
            <div class="custom-header clearfix">
                <h2>
                    <span id="custom-month" class="custom-month"></span>
                    <span id="custom-year" class="custom-year"></span>
                </h2>
                <h3 class="custom-month-year">
                    <nav>
                        <span id="custom-prev" class="custom-prev"></span>
                        <span id="custom-next" class="custom-next"></span>
                        <span id="custom-current" class="custom-current" title="Go to current date"></span>
                    </nav>
                </h3>
            </div>
            <div id="calendar" class="fc-calendar-container"></div>
        </div>
    </div>

    <div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
        <div class="lab-modal-body">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div id="calendar-day-details-content"></div>
        </div>
        <!-- /.modal-body -->
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.calendario.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/content.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/calendar.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/calendar-modal.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page.css') }}"/>
{% endblock %}
